﻿@model csharp4_lesson14.Models.blog
    @{
    ViewBag.Title = "Add Blog";
}


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Blog</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.title)
            @Html.ValidationMessageFor(model => model.title)
        </div>
        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}
