﻿@model csharp4_lesson14.Models.comments
@{
    ViewBag.Title = "Add Comments";
}

<h2>addcomment</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Add Comments</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.content)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.content)
            @Html.ValidationMessageFor(model => model.content)
        </div>
        <p>
            <input type="submit" value="Add" />
        </p>
    </fieldset>
}
