﻿@model  IEnumerable<csharp4_lesson14.Models.comments>
    @{
    ViewBag.Title = "Comments List";
}

<h2>Comments List</h2>
@Html.ActionLink("Add Blog", "addblog", "blog");
<table>
@foreach (var x in Model)
{
    <tr>
        <td>@x.id</td>
        <td>@x.content</td>
    </tr>
}
</table>