﻿@model csharp4_lesson14.Models.blog
    @{
    ViewBag.Title = "Edit Blog";
}

<h2>editblog</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Edit Blog</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.name)
            @Html.ValidationMessageFor(model => model.name)
        </div>
        <p>
            <input type="submit" value="Edit" />
        </p>
    </fieldset>
}
