﻿@model IEnumerable<csharp4_lesson14.Models.posts>
@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<table>
@foreach (var x in Model)
{    
    <tr>
        @if (Request.IsAuthenticated && User.Identity.Name==x.blog.username)
        {
            <td>@Html.ActionLink("Edit", "editpost", new { id = x.id })</td>
            <td>@Html.ActionLink("Delete", "deletepost", new { id = x.id })</td>
        }
        <td>@Html.ActionLink("View", "viewpost", new { id = x.id })</td>
        <td>@Html.DisplayFor(model => x.content)</td>
        <td>@Html.DisplayFor(model => x.comments)</td>
    </tr>
}
</table>
