﻿@model  IEnumerable<csharp4_lesson14.Models.blog>
    @{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Add Blog", "addblog", "blog")
@Html.ActionLink("Blog List", "bloglist", "blog")

