﻿@model csharp4_lesson14.Models.posts
@{
    ViewBag.Title = "viewpost";
}

<h2>View Post</h2>
<div>
@Model.content
</div>
<div>
<ul>
@foreach (var y in Model.comments)
{
    <li>@y.content</li>
}
</ul>
</div>
@Html.ActionLink("Add Comment", "addcomments", new { fkpost = Model.id })