﻿@model csharp4_lesson14.Models.blog
@{
    ViewBag.Title = "Viewing Blog List";
}


<h2>@Html.DisplayFor(x => x.title)</h2>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add Post", "addpost", new { fkblog = Model.blogid })
}
@foreach (var y in Model.posts)
{
    <h3>@y.title</h3>
    <p>@y.blog.username</p>
    <p>@y.content</p>  
    if (Request.IsAuthenticated && User.Identity.Name == y.blog.username)
    {
        <table>
            <tr>
                <td>@Html.ActionLink("Edit", "editpost", new { id = y.id , fkblog = Model.blogid})</td>
                <td>@Html.ActionLink("Delete", "deletepost", new { id = y.id, fkblog = Model.blogid })</td>
            </tr>
        </table>
    }  
    <p>@Html.ActionLink("Add Comment", "addcomments", new { fkpost = y.id })</p>        
    foreach (var z in y.comments)
    {
        <p>@z.content</p>
        if (Request.IsAuthenticated && User.Identity.Name == y.blog.username)
        {
            <p>@Html.ActionLink("Remove Comment", "removecomments", new { id = z.id })</p>
        }
    }
}

