﻿@model  IEnumerable<csharp4_lesson14.Models.blog>
    @{
    ViewBag.Title = "Home";
}

<h2>Blog List</h2>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Add Blog", "addblog", "blog", new { username = User.Identity.Name },null);
}
<table>
<tr>
    <td>Title</td>
    <td>Count</td>
    <td>Author</td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
</tr>
@foreach (var x in Model)
{
    <tr>
        <td>@x.title</td>
        <td>@x.posts.Count</td>
        <td>@x.username</td>
        <td>@Html.ActionLink("View", "viewblog","blog", new { id = x.blogid },null)</td>
        @if (Request.IsAuthenticated && User.Identity.Name==x.username)
        {
            <td>@Html.ActionLink("Delete", "removeblog", new { id = x.blogid })</td>
            
        }
    </tr>
}
</table>